/* @override http://localhost/template_ci/assets/css/site.css */

body {
	background-color: #D0D0D0;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
}

#header {
	height: 100px;
	background-color: #143270;
	color: #bbbbbb;
}

#nav_menu {
	background-color: #729FCF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #444444;
	height: 40px;
}

#nav_menu li {
	list-style: none;
}

#nav_menu a {
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 4px;
	line-height: 38px;
	margin: 0 auto;
	background-color: maroon;
	-moz-border-radius: 3px;
	border: 1px solid #CCCCCC;
}

#nav_menu a:hover {
	color: blue;
	height: 50px;
}

#nav_menu ul {
	line-height: 30px;
}

#nav_menu ul li {
	list-style: none;
	padding: 4px;
}

#nav_menu a {
	background-color: maroon;
	color: white;
	border:  1px solid #EEEEEE;
	-moz-border-radius: 3px;
	text-decoration: none;
	float:left;
	margin: 4px 10px;
	padding: 2px 4px;

}

#content {
	min-height: 90%;
	max-height: 100%;
	border-left: 1px solid #5e5e5e;
	border-right: 1px solid #5e5e5e;
}

.error {
	border: 1px solid red;
	background-color: #D0D0D0;
	padding: 4px;
	color: #f00;
}

#footer {
	height: 40px;
	background-color: #143270;
	color: #bbbbbb;
}

#footer p {
	color: #BBBBBB;
	text-align: center;
	font-size: 0.7em;
}
/* form elements */

#form_login {
	width: 300px;
	margin: 10px auto;
	border: 1px solid white;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.row {
    width: 280px;
	display: block;
	line-height: 24px;
	margin: 8px auto;
	padding: 0;
    text-align: center;
}

.row label {
    width: 100px;
    margin: 0 10px;
    height: 24px;
    font-family: Verdana,Arial, Helvetica,sans-serif;
    font-weight: bold;
    font-size: 0.9em;
}

.row input[type=text], input[type=password] {
    margin-right: 0;
    float: right;
}

input[type=text], input[type=password] {
	width: 180px;
	background-color: #eeeeee;
	border: 1px solid;
	border-color: #729FCF;
	height: 20px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 2px 4px;
    font-size: 0.9em;
}
